/* common styles */
h1{
    font-weight: 600;
    font-size: 3rem;
}
h5{
    font-size: 1.25rem;
}
.white{
    color: #fff;
}
.gray{
    color: #8987A1;
}
.black{
    color: #000;
}
.orange{
    color: #E95A08;
}
.btn{
    color: #fff;
    background-color: #E95A08;
    padding: 5% 25%;
    border: none;
    cursor: pointer;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.navlink{
    display: flex;
    justify-content: space-around;
}
.navitem{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navitem img{
    width: 20%;
}
/* banner */
.banner-content{
    display: flex;
}
.banner{
    display: flex;
   align-items: last baseline;
    margin: 0 auto;
    max-width: 1140px;
}
.banner-img{
    max-width: 50%;
    max-height: 50%;
}
/* plant-section */
.plant-section{
    margin: auto;
    max-width: 1140px;
   
}
.plant-text {
    text-align: center;
    margin: auto;
   
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 30px;
    column-gap: 20px;
    text-align: center;
}
.card img{
    max-width: 90%;
}
/* plant-lover-section */
.plant-lover-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 5% auto;
    padding: auto;
}
.plant-lover-section img{
max-height: 490px;
max-width: 460px;
position: relative;
}

.plant-lover-text{
    text-align: left;
    padding-left: 5%;
}

.plant-lover-text h1{
    font-weight: 700;
    font-size: 3rem;
}

 .listed-text{
    font-weight: 400;
   font-size: 1.5rem;
 
}
.badge img{
    width: 260px;
    height: 260px;
    display: block; 
  
}
.badge{
    position: absolute;
    top: -90px;
    left: 280px;

}

.latest-deal{
    text-align: center;
}
/* collage-section */
.collage-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
     margin: 5% auto;
    padding: 10px;
    max-width: 1140px;
}
.left-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}
.shop-img{
      position: relative;
      border-radius: 10px;
      overflow: hidden;
}

.text-overlay{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
}
/* subscribe-section */
.subscribe-section{
    background-image: url(./assets/news-letter-bg.png);
    width: 100%;
    text-align: center;
    padding: 60px 20px;
    color: #fff;
}
 .subscribe-form {
      display: flex;
      max-width: 400px;
      margin: 0 auto;
    }

  .subscribe-form input {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
      font-size: 1rem;
    }
 .subscribe-form button{
     padding: 10px 20px;
      border-radius: 0 5px 5px 0;
      font-size: 1rem;
 }
/* footer-content */
.footer-content{
    display: flex;
    justify-content: space-around;
    padding: 30px;

}
.home-content ul , .features ul{
    list-style: none;

}
/* responsive */
@media screen and (max-width: 576px) {
    .nav , .navlink , .banner{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .navitem{
        display: none;
    }
    .cart{
        display: inherit;
    }
    .plant-card{
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }
    .plant-lover-section , .footer-content{
        flex-direction: column;
    }
   .collage-section{
    grid-template-columns: 1fr;
   }
   .shop-img img {
    width: 100%;
    height: auto;
    display: block;
   }
   .badge{
    display: none;
   }
 
}